// sidebar
$sidebar-width: 100px;
$sidebar-logo-size: 3rem;
$sidebar-icon-size: 2rem;

// projects 
// project-list 
$project-list-width: 300px;

// project-list-search
$project-search-width: 250px;
$project-search-height: 50px;

// timeline search
$timeline-search-width: 400px;
$timeline-search-height: 40px;
// border 
$border-color: $secondary;
$border-width: .25rem;
$border-width-half: .125rem;
$border-color-hover:  $light;

// card
$card-width: 300px;
$card-radius: .75rem;

$transition-time: 0.4s;
$font-size-base-sm: 0.875rem;
