.bg-image {
    /* The image used */
    background-image: url("./../../../assets/images/rickie-tom-schunemann-J6L2GSuOi34-unsplash.jpg");

    // /* Add the blur effect */
    // backdrop-filter: blur(16px);
    // -webkit-filter: blur(8px);

    /* Full height */
    // height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
    // background: rgba(255, 255, 255, 0.15); // Make sure this color has an opacity of less than 1
    background: rgba(37, 34, 53, 0.20); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100%;
    // width: 100%;
}