// Button styles goes here


.btn {
    
    &:disabled {
        cursor: not-allowed !important;
    }
    &:focus {
        // needed to override box-shadow on focus.
        // box-shadow: none !important;
        box-shadow: 0.3rem 0.3rem 0.6rem $dark, -0.2rem -0.2rem 0.5rem $dark;
    }
    // &:active {
    //     box-shadow: 0.3rem 0.3rem 0.6rem $dark, -0.2rem -0.2rem 0.5rem $dark;
    // }
}

.btn-task, .btn-timeline, .btn-arrow {
    border: $border-width-half solid transparent;
    box-shadow: 0.3rem 0.3rem 0.6rem $secondary, -0.2rem -0.2rem 0.5rem $secondary;
    &:hover {
        border: $border-width-half solid transparent;
        box-shadow: 0.3rem 0.3rem 0.6rem $dark, -0.2rem -0.2rem 0.5rem $dark;
        // border: $border-width-half solid $danger;
    }
}

.task-floating-btn {
    &:hover {
        transition: all .4s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
}

.close-btn {
    z-index: 10;
    rotate: 45deg;
    // transform: rotate(45deg);
    // transition: rotate 2s ease-in-out;
    color: #f43885;
    // animation: in .4s;
    &:hover {
        // transition: all 2s ease-in-out;
        // rotate: 1.75turn;
        animation: in 1s;
        // transform: rotate(270deg);
        color: #f43885;
    }
}

@keyframes in {
    from   { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg);}
}

@keyframes out {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}