// Button styles goes here


.btn {
    
    &:disabled {
        cursor: not-allowed !important;
    }
    &:focus {
        // needed to override box-shadow on focus.
        // box-shadow: none !important;
        box-shadow: 0.3rem 0.3rem 0.6rem $dark, -0.2rem -0.2rem 0.5rem $dark;
    }
    // &:active {
    //     box-shadow: 0.3rem 0.3rem 0.6rem $dark, -0.2rem -0.2rem 0.5rem $dark;
    // }
}

.btn-task, .btn-timeline, .btn-arrow {
    border: $border-width-half solid transparent;
    box-shadow: 0.3rem 0.3rem 0.6rem $secondary, -0.2rem -0.2rem 0.5rem $secondary;
    &:hover {
        border: $border-width-half solid transparent;
        box-shadow: 0.3rem 0.3rem 0.6rem $dark, -0.2rem -0.2rem 0.5rem $dark;
        // border: $border-width-half solid $danger;
    }
}