// Form controls styles goes here

#project-search {
    border: none;
    border-radius: 1rem;
    text-indent: 1rem;
    height: $project-search-height;
    width: $project-search-width;
    background-color: $secondary;
    box-shadow: $danger 0px 1px 300px;
    // box-shadow: inset -4px -4px 10px 4px $dark, inset 4px 4px 10px 4px $secondary;
    &:focus, &:focus {
        outline: none;
        caret-color: $light; 
        box-shadow: $danger 0px 1px 200px;
        // box-shadow: inset -1px -1px 3px 1px $dark, inset 1px 1px 3px 1px $secondary
    }
}
#timeline-search {
    @extend #project-search;
    height: $timeline-search-height;
    width: $timeline-search-width;
    background-color: $secondary;
    &:hover, &:focus {
        box-shadow: $danger 35pxpx 70px 200px;
    }
}
#fav-projects-checkbox:checked {
    ~ .favorite-projects {
        display: none;
    }
    + .projects-title label {
        transition: $transition-time;
        transform: rotate(180deg);
    }
}
#all-projects-checkbox:checked {
    ~ .all-projects {
        display: none;
    }
    + .projects-title label {
        transition: $transition-time;
        transform: rotate(180deg);
    }
} 
#archive-projects-checkbox:checked {
    ~ .archive-projects {
        display: none;
    }
    + .projects-title label {
        transition: $transition-time;
        transform: rotate(180deg);
    }
} 
.projects-title label {
    transition: $transition-time;
}