<aside class="d-flex flex-column h-100 justify-content-center">
    <nav>
        <ul class="nav flex-column align-items-center justify-content-center">
            <li class="nav-item">
                <a class="nav-link py-3">
                    <span class="aside-icon icon-home"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3">
                    <span class="aside-icon icon-alert-circle"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3" routerLink="/master/project" routerLinkActive="active">
                    <span class="aside-icon icon-apps"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3">
                    <span class="aside-icon icon-pie-chart"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3">
                    <span class="aside-icon icon-comments-o"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3">
                    <span class="aside-icon icon-settings"></span>
                </a>
            </li>
        </ul>
    </nav>
</aside>